* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a:link {
	color: white;
}
a {
	text-decoration: none !important;
}
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
/* Nav bar style start */
.navbar {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 55px;
	overflow: hidden;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	background-color: rgba(25, 89, 145, 0.7);
	/* background-color: transparent; */
}
.logo {
	display: inline-block;
	margin-left: 20px;
}
.logo a {
	text-decoration: none;
}
.logo a:visited {
	color: white;
}
.logo h1 {
	font-size: 2rem;
	font-weight: bolder;
}
.nav-links {
	list-style-type: none;
	margin-right: 40px;
	display: flex;
}
.nav-items a {
	display: block;
	text-decoration: none;
	padding: 10px 15px;
	color: white;
}
span {
	display: inline-block;
}
a > span::after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 0;
	height: 2px;
	background-color: rgba(56, 204, 93, 0.7);
	-webkit-transition: opacity 0.3s ease, width 0.3s ease;
	-moz-transition: opacity 0.3s ease, width 0.3s ease;
	-o-transition: opacity 0.3s ease, width 0.3s ease;
	transition: opacity 0.3s ease, width 0.3s ease;
	-ms-transition: opacity 0.3s ease, width 0.3s ease;
}

.nav-items a:hover span::after {
	width: 100%;
	/* background-color: #ddd; */
	/* color: black; */
}
.icon {
	display: none;
}

@media screen and (max-width: 600px) {
	.navbar {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 999;
		overflow: hidden;
	}
	.nav-links {
		display: none;
	}
	.icon {
		display: block;
		font-size: 2rem;
		margin-right: 10px;
	}
}

@media screen and (max-width: 600px) {
	.responsive {
		position: fixed;
		display: block;
		text-align: left;
		width: 100%;
		top: 50px;
		z-index: 999;
		background-color: #333;
		transition: 10s;
	}
	.responsive a:hover {
		background-color: #ddd;
		color: black;
	}
}
.BgColour {
	color: white;
	transition: all 1s;
	background-color: black;
	border-bottom: 1px solid lightgray;
}
/* Nav bar ends start */
/* Hero Section  */
.hero {
	color: white;
	background-image: url("../images/img1.jpg");
	position: relative;
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero .hero-content {
	text-align: center;
	width: 60%;
}
/* .hero-content h1 { */
/* font-size: 4rem; */
/* animation: showup 7s; */
/* animation: slidein 7s infinite; */
/* animation: reveal 7s infinite; */
/* } */
.hero-content h1 {
	font-size: 4rem;
	animation: showup 7s infinite;
	/* animation: slidein 7s infinite; */
	/* animation: reveal 7s infinite; */
}
/* .header { */
/* font-size: 5rem; */
/* display: inline-block; */
/* overflow: hidden; */
/* white-space: nowrap; */
/* } */
/*  */
/* #sist { */
/* animation: showup 7s infinite; */
/* } */
/* #su { */
/* width: 0px; */
/* animation: reveal 7s infinite; */
/* } */
/* #su span { */
/* margin-left: -3px; */
/* animation: slidein 7s infinite; */
/* } */

/* @keyframes showup { */
/* 0% { */
/* opacity: 0; */
/* } */
/* 20% { */
/* opacity: 1; */
/* } */
/* 80% { */
/* opacity: 1; */
/* } */
/* 100% { */
/* opacity: 0; */
/* } */
/* } */
/*  */
/* @keyframes slidein { */
/* 0% { */
/* margin-left: -800px; */
/* } */
/* 20% { */
/* margin-left: -800px; */
/* } */
/* 35% { */
/* margin-left: 0px; */
/* } */
/* 100% { */
/* margin-left: 0px; */
/* } */
/* } */
/*  */
/* @keyframes reveal { */
/* 0% { */
/* opacity: 0; */
/* width: 0px; */
/* } */
/* 20% { */
/* opacity: 1; */
/* width: 0px; */
/* } */
/* 30% { */
/* width: 355px; */
/* } */
/* 80% { */
/* opacity: 1; */
/* } */
/* 100% { */
/* opacity: 0; */
/* width: 355px; */
/* } */
/* } */
.hero-content p {
	font-size: 1.5rem;
	margin-bottom: 5px;
}
/* Mobile styles */
@media (max-width: 767px) {
	.hero-content h1 {
		font-size: 3rem;
	}
	.hero-content p {
		font-size: 1rem;
	}
	.hero-content .button-2 {
		display: flex;
		flex-wrap: wrap;
	}
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 991px) {
	.hero-content h1 {
		font-size: 2rem;
	}
	.hero-content p {
		font-size: 1.2rem;
	}
	.hero-content .button-2 {
		display: flex;
		flex-wrap: wrap;
		/* justify-content: center; */
	}
}

/* Desktop styles */
@media (min-width: 992px) {
	.hero-content h1 {
		font-size: 2.5rem;
	}
	.hero-content p {
		font-size: 1.5rem;
	}
	.hero-content .button-2 {
		display: flex;
		flex-wrap: nowrap;
	}
}

/* Style buttons */
.button-2 {
	display: flex;
	justify-content: center;
}
.button-2 button {
	width: 150px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	color: rgb(209, 209, 209);
	/* background-color: #4caf50; */
	background: rgba(25, 89, 145, 0.7);
	border: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	text-transform: uppercase;
}
button:hover {
	border: none;
	background: rgba(56, 204, 93, 0.7);
	color: rgb(255, 255, 255);
}

/* Event Section Styling */
.event-area {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
	padding: 2rem;
	border-bottom: 1px solid black;
}
.event-card:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transform: translateY(-5px);
	transition: all 0.3s ease-in-out;
}
.event-title {
	font-size: 1.2rem;
	color: #333;
}
.event-description {
	font-size: 1rem;
	color: #666;
}
.event-viewdetails a {
	font-weight: 700;
	font-size: 15px;
	text-decoration: none;
	text-transform: capitalize;
	text-decoration-line: underline !important;
	color: #195991;
	transition: all 0.3s ease-in-out;
}
/* .event-viewdetails a:hover { */
/* background: rgba(56, 204, 93, 0.7); */
/* color: #fff; */
/* transition: all 0.3s ease-in-out; */
/* } */
.section-head {
	width: 100%;
	text-align: center;
}

.section-head h5 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 1rem;
	color: #195991;
	opacity: 0.7;
}

.section-head h3 {
	font-weight: 800;
	font-size: 45px;
	line-height: 54px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #2d373c;
	/* font-size: 3rem; */
	margin-bottom: 2rem;
}

/* registeration page styling */
.register-section,
.event-add-section {
	display: flex;
	height: 100vh;
	justify-content: center;
	/* align-items: center; */
	/* margin: 0 auto; */
	background-image: url("https://scientific-publishing.webshop.elsevier.com/wp-content/uploads/2022/08/what-background-study-how-to-write-1200x801.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: center  center; */
	color: #ffff;
	/* line-height: 2em; */
	/* overflow: hidden; */
	/* z-index: -9000; */
	/* background-color: #009688; */
}
.registeration-form,
.event-form {
	width: 100%;
	max-width: 650px;
	padding: 28px;
	/* margin: 0 28px; */
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	margin-top: 63px;
	overflow: auto;
	margin-bottom: 63px;
}
.form-title {
	font-size: 26px;
	font-weight: bolder;
	text-align: center;
	padding-bottom: 6px;
	color: white;
	text-shadow: 2px 2px 2px black;
	border-bottom: solid 1px white;
}
.input-text-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
}
.form-group:nth-child(2n) {
	justify-content: end;
}
.form-group {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	padding-bottom: 15px;
}
.form-group small {
	color: #e74c3c;
	position: relative;
	bottom: 5;
	font-weight: bolder;
	left: 0;
	visibility: hidden;
}
.form-group.success input {
	border-color: #2ecc71;
}
.form-group.error small {
	visibility: visible;
}
.form-group.error input {
	border-color: #e74c3c;
}

.form-group label {
	width: 95%;
	color: white;
	font-size: 20px;
	font-weight: 400;
	margin: 5px 0;
}
.form-group input {
	height: 40px;
	width: 95%;
	border-radius: 7px;
	outline: none;
	border: 1px solid grey;
	padding: 0 10px;
}
.form-submit-btn input {
	cursor: pointer;
	display: block;
	width: 100%;
	margin-top: 10px;
}
/* .form-submit-btn { */
/* margin-top: 40px; */
/* } */
.form-submit-btn input {
	position: relative;
	display: block;
	width: 100%;
	margin-top: -5px;
	font-size: 20px;
	padding: 10px;
	border: none;
	border-radius: 3px;
	color: rgb(209, 209, 209);
	background: rgba(63, 114, 76, 0.7);
}
.form-submit-btn input:hover {
	background: rgba(56, 204, 93, 0.7);
	color: rgb(255, 255, 255);
}
@media screen and (max-width: 600px) {
	.register-section,
	.event-add-section {
		display: flex;
		height: 100vh;
		justify-content: center;
		align-items: center;
		color: #ffff;
	}
	.register-section,
	.event-add-section {
		min-width: 280px;
	}
	.registeration-form,
	.event-form {
		/* height: 100v; */
		margin-top: 181px;
	}
	.form-group {
		margin-bottom: 12px;
		width: 100%;
	}
	.form-group:nth-child(2n) {
		justify-content: space-between;
	}
	.input-text-box {
		max-height: 520px;
		overflow: auto;
	}
}
#dropdown {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}
/* registeration page styling */

/* Log in  */
.login-section {
	display: flex;
	height: 100vh;
	justify-content: center;
	background-image: url("https://i.postimg.cc/8cnYLpfc/ddddd.jpg");
	/* background-image: url("https: //postimg.cc/MfVtS8DJ"); */
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffff;
}
.login-form {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto;
	width: 100%;
	height: 430px;
	max-width: 650px;
	padding: 28px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	/* margin-top: 63px; */
}
/* Log in */

/* Event page */
.event-hero {
	color: white;
	background-image: url("../images/img2.jpg");
	position: relative;
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.5;
}
.event-hero .event-hero-content {
	text-align: center;
	width: 60%;
}
/* .hero-content h1 { */
/* font-size: 4rem; */
/* animation: showup 7s; */
/* animation: slidein 7s infinite; */
/* animation: reveal 7s infinite; */
/* } */
.event-hero-content h1 {
	font-size: 4rem;
	animation: showup 7s infinite;
	/* animation: slidein 7s infinite; */
	/* animation: reveal 7s infinite; */
}

/* Add Event Section  */
/* .event-nav { */
/* border-bottom: 1px solid black; */
/* } */
.event-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 100%;
	box-shadow: 5px 5px 10px rgba(92, 91, 91, 0.1);

	/* border-bottom: 1px solid black; */
}
@media screen and (max-width: 600px) {
	.event-nav {
		display: none;
	}
}
.event-nav .horizontal-list {
	list-style: none;
}
.horizontal-list li:not(:last-child) {
	border-right: 1px solid black;
}
.horizontal-list li {
	padding: 0 0.5rem;
	min-width: 12rem;
	text-align: center;
}
.event-nav .horizontal-list li {
	display: inline-block;
}
.event-nav .horizontal-list li a {
	text-decoration: none;
}

.eventdetails-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
	/* background-color: #f7f8fc; */
	font-family: "Roboto", sans-serif;
	color: #10182f;
}
.evnt-item {
	margin: 10px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgba(92, 91, 91, 0.1);
	/* box-shadow: 0 2px 20px rgba(182, 59, 59, 0.2); */
	overflow: hidden;
	width: 350px;
}

.evnt-img img {
	width: 100%;
	height: 190px;
	object-fit: cover;
}

.evnt-content {
	display: inline-block;
	width: 100%;
	height: 120px;
	/* background-color: #195991; */
}

.evnt-content .info {
	/* text-transform: uppercase; */
	font-size: 0.8rem;
	margin-left: 15px;
	/* padding-left: 10px; */
}
.evnt-content .info span {
	margin: 5px 10px 5px 10px;
}
.startdate i,
.enddate i,
.location i {
	color: #195991;
	margin-right: 7px;
}

.evnt-content h5 {
	white-space: normal;
	color: #2e363f;
	height: 70px;
	text-decoration: none;
	font-size: 1rem;
	padding: 5px 0;
	line-height: 20px;
	text-transform: none;
	margin: 25px 0 0 10px;
	display: inline;
	font-weight: 600;
}
.event-desc {
	font-size: 0.8125rem;
	width: 40ch;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	float: left;
	color: #888;
	margin: 10px 10px 0 20px;
}

.evnt-item:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transform: translateY(-5px);
	transition: all 0.3s ease-in-out;
}
.event-detail {
	display: inline-block;
	padding: 20px;
}
.readmore a {
	font-weight: 700;
	font-size: 0.9375rem;
	text-decoration: none;
	text-decoration-line: underline !important;
	margin-right: 50px;
	color: #195991;
}
/*  */
.category {
	font-size: 0.9375rem;
	font-weight: bolder;
	/* margin-left: 10px; */
	color: #e74c3c;
}
/* https://www.w3schools.com/css/tryit.asp?filename=trycss3_box-shadow5 */
.each-event {
	position: relative;
	background: #e7ecf1;
	width: 100%;
	height: 1300px;
	padding-top: 30px;
	overflow: hidden;
}
.event-hero-header {
	position: absolute;
	top: 100px;
	width: 80%;
	height: 180px;
	/* margin: 0 auto; */
	left: 10%;
	right: 10%;
	background: #fff;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 3px;
}
.headerimg {
	position: absolute;
	top: 25%;
	width: 150px;
	height: 100px;
	margin-left: 20px;
	/* background-color: #195991; */
}
.headerimg img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.headertext {
	position: absolute;
	top: 10%;
	left: 20%;
}

.headertext h1 {
	/* height: auto; */
	font-size: 1.5rem;
	line-height: 30px;
	margin-top: 20px;
	font-weight: bolder;
	color: #2e363f;
}

.headertext p {
	font-size: 0.8125rem;
	color: #888;
	margin: 15px 10px 0 20px;
}

.headertext p i {
	margin-right: 10px;
	color: #195991;
}
.each-event-body {
	position: absolute;
	top: 315px;
	display: flex;
	justify-content: space-between;
	left: 10%;
	right: 10%;
	/* width: 100%; */
	/* margin-left: 20px; */
}
.event-hero-left {
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	/* margin-left: -20px; */
	width: 60%;
	/* margin-right: 30px; */
}
.event-hero-left img {
	width: 100%;
	height: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 50px;
	/* padding-bottom: 50px; */
}
.event-hero-left h1 {
	font-size: 1rem;
	line-height: 26px;
	text-transform: none;
	font-weight: 900;
	font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #2e363f;
	margin-bottom: 5px;
	padding-left: 20px;
	/* display: inline-block; */
}
.event-hero-left p {
	padding-left: 20px;
	padding-right: 20px;
	color: #565c68;
	padding-bottom: 30px;
	margin-top: 20px;
	line-height: 22px;
	word-wrap: break-word;
}
.event-hero-right {
	/* background-color: #76615f; */
	/* margin-right: 20px; */
	width: 35%;
	height: 300px;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-left: 20px;
	padding-top: 40px;
	/* margin: 50px 0; */
}
.eventdatetime {
	margin-bottom: 20px;
}
.event-hero-right h5 {
	line-height: 20px;
	color: #2e363f;
	text-rendering: optimizelegibility;
	font-size: 1rem;
	margin-top: 0;
	margin-bottom: 5px;
	display: block;
	text-transform: none;
}
@media (max-width: 767px) {
	.headerimg img {
		display: none;
	}
	.each-event-body {
		display: inline-block;
		width: 100%;
	}
	.event-hero-left {
		width: 80%;
		padding: 0;
		margin-bottom: 20px;
		/* background-color: #2e363f; */
	}
	.event-hero-right {
		display: block;
		width: 80%;

		/* margin-right: 50px; */
		padding-bottom: 200px;
	}
	.button-2 {
		display: block;
	}
}
