* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
a:link{
    color:white;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
 /* Nav bar style start */

 .navbar {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 55px;
    overflow: hidden;
    background-color:#98dbc6 !important;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
 }
 .logo {
    display: inline-block;
    margin-left: 20px;
 }
 .logo a{
    text-decoration: none;
 }
 .logo a:visited{
    color: white;
  }
.logo h1 {
    font-size: 2rem;
    font-weight: bolder;
}
 .nav-links {
    list-style-type: none;
    margin-right:40px ;
    display: flex;
 }
 .nav-items a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
 }
  span {
      display: inline-block;
  }
  a > span::after{
    content: "";
        display: block;
        margin: 0 auto;
        width: 0;
        height: 2px;
        background-color: #C3A368;
        -webkit-transition: opacity .3s ease, width .3s ease;
        -moz-transition: opacity .3s ease, width .3s ease;
        -o-transition: opacity .3s ease, width .3s ease;
        transition: opacity .3s ease, width .3s ease;
        -ms-transition: opacity .3s ease, width .3s ease;
  }

.nav-items a:hover span::after{
    width: 100%;
    /* background-color: #ddd; */
    /* color: black; */
  }
  .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .navbar{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 999;
        overflow: hidden;
    }
    .nav-links{
        display: none;
        /* background-color: #333; */
        /* margin-top: 10px; */
        /* height: 20px; */
    }
    .icon {
        display: block;
        font-size: 2rem;
        margin-right: 10px;
    }
  }

  @media screen and (max-width: 600px) {
      .responsive{
          position: fixed;
        display: block;
        text-align: left;
          width: 100%;
          top: 50px;
          z-index: 999;
          background-color:#333;
          transition: 10s;
      }
    .responsive a:hover {
              background-color: #ddd;
              color: black;
        }
  }
  /* Nav bar ends start */

  /* index page styling */
  .container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../images/bg3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .content {
    width: 100%;
    position: absolute;
    display: inline-block;
    top: 40%;
    text-align: center;
    transform: translateY(-50%);
    color: #fff;
  }
  .content h1 {
      font-size: 4rem;
      text-transform: uppercase;
      margin-top: 80px;
  }
  .content p {
      font-weight: 100;
      margin: 20px auto;
      line-height: 25px;
  }
   button{
    width: 200px;
        padding: 15px 0;
        text-align: center;
        margin: 20px 10px;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid #98dbc6;
        background: transparent;
        color: #fff;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        text-transform: uppercase;
   }
   button>span {
    background: #009688;
        height: 100%;
        width: 100%;
        border-radius: 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.5;
   }
   .button:hover span {
    width: 100%;
}
   button:hover{
    border: none;
   }
  /* index page styling ends */